<footer>
        <div class="top-footer ">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-md-4">
                        <div class="text-white text-center">
                            <h2>LOCATION</h2>
                            <p>2215 John Daniel Drive</p>
                            <p>Clark, MO 65243</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-white text-center">
                            <h2>AROUND THE WEB</h2>
                            <div class="home-icons">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter" ></i>
                                <i class="fa-brands fa-linkedin" ></i>
                                <i class="fa fa-globe" ></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-white text-center mx-5">
                            <h2>ABOUT FREELANCER</h2>
                            <p >Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center bottom-footer py-3 text-white">
            <p>Copyright © Your Website 2024</p>
        </div>
</footer>