.about{
    background-color: #1ABC9C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:86px;
}
.main{
    padding: 228px 0;
}
.line1,.line2{
    width: 90px;
    height: 4px;
    background-color: white;
}
@media screen and (max-width:768px) {
    .main{
        padding: 100px 0;
    }
}