.home{
    background-color: #1ABC9C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:86px;
}
.main{
    padding: 80px 0;
}
.main img{
    width: 250px;
    padding: 40px 0;
}
.line1,.line2{
    width: 90px;
    height: 4px;
    background-color: white;
}